# Virtual environment
venv/
storage/
storage_test/

# Environment variables
.env
.env.test

# Python cache
__pycache__/
*.pyc

# Pytest
.pytest_cache/

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log
# Coverage
.coverage
htmlcov/
